/* Presentational styles */
.textCenter {
  text-align: center;
}

/* Semantic styles */
.earthquakeTable {
  width: 100%;
}

.earthquakeTable th {
  /* The specification screenshot has these styles */
  color: black;
  font-size: 0.875em;
  font-weight: normal;
}
.earthquakeTable td {
  font-weight: 500;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
