*, *::before, *::after {
  box-sizing: inherit;
}
dl, figure {
  margin: 0;
}

:root {
  --zen-header-bg: #ededed;
  --zen-light-fg: #777777;
  --zen-body-fg: #444444;
  --zen-link-fg: #0011bb;
  --zen-link-visited: #6600cc;
}

body {
  font-family: sans-serif;
  margin: 0;

  color: var(--zen-body-fg);
}

a {
  color: var(--zen-link-fg);
}

a:visited {
  color: var(--zen-link-visited);
}
